a:hover {
    color: pink !important;
}

.sidebar .logo-title .title img {
    transition: 0.5s;
    width: 175px;
    height: 175px;
}

.sidebar .logo-title .title img:hover {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}

