a:hover {
    color: pink !important;
}

.avatar img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    transition: 0.5s;
}
.avatar img:hover {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
