a:hover {
    color: #70b2f8 !important;
}

.avatar img {
    width: 350px !important;
    border-radius: 50%;
    transition: 0.5s;
}
.avatar img:hover {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
