a:hover {
    color: #70b2f8 !important;
}

.avatar img {
    width: 300px !important;
    border-radius: 50%;
    transition: 0.4s;
}
.avatar img:hover {
    -webkit-transform: scale(0.90);
    -ms-transform: scale(0.90);
    transform: scale(0.90);
}
